body {
  background: #edeaff;
  font-family: 'Poppins' ,sans-serif;
}
.stopwatch {
  width: 90%;
  max-width: 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(Images/background.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 40px 0;
    color: white;
    margin: 100px auto 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
}
.stopwatch h1{
    margin-top: 60px;
    font-size: 64px;
    font-weight: 300;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons img{
    /* width: 30px; */
    margin: 0 20px;
    cursor: pointer;
}